:host {
    color: white;
}

.card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid wheat;
}

.card-header {
    border-bottom: 1px solid wheat;
    background-color: #7a6f59;
    opacity: 80%;
}

.card-header:hover {
    opacity: 100%;
}

.card-footer {
    border-top: 1px solid wheat;
    background-color: #7a6f59;
    opacity: 80%;
}

.card-footer:hover {
    opacity: 100%;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5em;
}

.icon {
    padding: 0 0.5em;
    width: 5em;
}

.icon:hover {
    width: 5.5em;
    cursor: pointer;
}