html, body {
    height: 100%;
}

/* DROPDOWN Styles */
vm-dropdown{
    margin: auto;
}

.dropdown::ng-deep > div > button, .dropdown::ng-deep > div > .dropdown-menu {
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

.dropdown:hover::ng-deep > div > button {
    background-color: var(--main-color);
    border-color: var(--button-hover-bg-color);
    color: black;
    font-weight: 600;
}

#option1:hover, #option2:hover {
    font-weight: 500;
    background-color: var(--button-hover-bg-color);
    color: black
}

#option1:hover::ng-deep > li > button.dropdown-item, #option2:hover::ng-deep > li > button.dropdown-item {
    background-color: var(--main-color);
}