<div class="container row">
    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box" id="has-content">     
          <!-- Dropdown version 2 -->
          <vm-dropdown name="DropDown" class="dropdown" (optionSelected)="onOptionSelected($event)">
            <vm-dropdown-item text="item1" id="option1"></vm-dropdown-item>
            <vm-dropdown-item text="item2" id="option2"></vm-dropdown-item>
          </vm-dropdown>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box" id="has-content">
          <!-- Spinner -->
          <div class="row">
            <div class="col mx-3">
              <vm-spinner spinnerWidth="4em" holeSize="1.5em"></vm-spinner>
            </div>
            <div class="col mx-3">
              <vm-spinner spinnerColor="wheat" radiusPercentage="100%"></vm-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>
  
    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>
  
    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>
  
    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>
  </div>