<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularComponents</title>
</head>
<body>
  <div class="container row">
    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box" id="has-content">     
          <!-- You may style each component separately -->
          <vm-ac-dropdown name="Priority" [dropdown_id]=1>
            <vm-ac-dropdown-item text="High" [dropdown_id]=1 id="High"></vm-ac-dropdown-item>
            <vm-ac-dropdown-item text="Medium" [dropdown_id]=1 class="Medium"></vm-ac-dropdown-item>
            <vm-ac-dropdown-item text="Low" [dropdown_id]=1 id="Low" id="Low" style="font-weight: bold;"></vm-ac-dropdown-item>
          </vm-ac-dropdown>
          <!-- Demonstrates that two different components may live in the same page -->
          <vm-ac-dropdown name="DropDown" [dropdown_id]=2 id="sec-drop">
            <vm-ac-dropdown-item text="option1" [dropdown_id]=2></vm-ac-dropdown-item>
            <vm-ac-dropdown-item text="option2" [dropdown_id]=2></vm-ac-dropdown-item>
            <vm-ac-dropdown-item text="option3" [dropdown_id]=2></vm-ac-dropdown-item>
          </vm-ac-dropdown>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>

    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>

    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>

    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>
  </div>
</body>
</html>