:host {
    --placeholder-bg-color: hsl(288, 23%, 21%);
    --placeholder-border-color: hsl(278, 15%, 75%);

    --bootstrap-primary-color: #007bff;
    --bootstrap-success-color: #5cb85c;
    --bootstrap-info-color: #5bc0de;
    --bootstrap-warning-color: #f0ad4e;
    --bootstrap-danger-color: #d9534f;
    --bootstrap-inverse-color: #292b2c;
    --bootstrap-faded-color: #f7f7f7;

}

.container {
    min-height: 100vh;
    margin: auto;
}

.row {
    margin: auto;
}

div[class^="col"] {
    padding: 0;
}

.placeholder-box {
    min-width: 13vw;
    height: 15vh;
    margin: 0.5em auto;

    background: var(--placeholder-bg-color);
    box-shadow: 0 0 1rem rgb(0 0 0 / .2);

    border: 0.4em dashed var(--placeholder-border-color);
    border-radius: .5rem;
}

#has-content {
    background: none;
    border: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin: auto;
}


/* DEPRICATED DROPDOWN STYLES */
vm-dropdown-depr{
    margin: auto;
}

#sec-drop-depr::ng-deep > div > button {
    /* width: 12rem;
    height: 4rem;
    font-size: 1.5em; */

    background-color: var(--bootstrap-primary-color);
    border-color:  var(--bootstrap-primary-color);
    border-radius: 0.25rem;

    color: white;
}

#sec-drop-depr::ng-deep > div > button:hover {
    background-color: #007bffaa;
    border-color: #007bffaa;
}

#High:hover {
    color:rgb(255, 0, 0);
}

.Medium:hover {
    color: rgb(168, 98, 57);
}

#Low:hover {
    color: rgb(0, 128, 0);
}

/* DROPDOWN Styles */
vm-dropdown{
    margin: auto;
}

.dropdown::ng-deep > div > button {
    background-color: var(--bootstrap-success-color);
    border-color: var(--bootstrap-success-color);
    color: var(--bootstrap-inverse-color);
    font-weight: 600;
}

#option1, #option2 {
    color: var(--bootstrap-success-color);
    font-weight: 500;
}
