<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularComponents</title>
</head>
<body>
  <div class="container row">
    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box" id="has-content">     
          <!-- You may style each component separately -->
          <vm-dropdown-depr name="Priority" [dropdown_id]=1 (optionSelected)="onOptionSelectedDepr($event)">
            <vm-dropdown-item-depr text="High" [dropdown_id]=1 id="High"></vm-dropdown-item-depr>
            <vm-dropdown-item-depr text="Medium" [dropdown_id]=1 class="Medium"></vm-dropdown-item-depr>
            <vm-dropdown-item-depr text="Low" [dropdown_id]=1 id="Low" id="Low" style="font-weight: bold;"></vm-dropdown-item-depr>
          </vm-dropdown-depr>
          <!-- Demonstrates that two different components may live in the same page -->
          <vm-dropdown-depr name="DropDown-Depr" [dropdown_id]=2 id="sec-drop-depr" (optionSelected)="onOptionSelectedDepr($event)">
            <vm-dropdown-item-depr text="option1" [dropdown_id]=2></vm-dropdown-item-depr>
            <vm-dropdown-item-depr text="option2" [dropdown_id]=2></vm-dropdown-item-depr>
            <vm-dropdown-item-depr text="option3" [dropdown_id]=2></vm-dropdown-item-depr>
          </vm-dropdown-depr>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box" id="has-content">
          <!-- Dropdown version 2 -->
          <vm-dropdown name="DropDown" class="dropdown" (optionSelected)="onOptionSelected($event)">
            <vm-dropdown-item text="item1" id="option1"></vm-dropdown-item>
            <vm-dropdown-item text="item2" id="option2"></vm-dropdown-item>
          </vm-dropdown>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>

    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>

    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>

    <div class="row row-flex justify-content-between">
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
      <div class="col-sm-12 col-md-2 align-self-center">
        <div class="placeholder-box"></div>
      </div>
    </div>
  </div>
</body>
</html>