.user-profile {
    padding: 0.2rem 0.5rem;

    border: 1px solid wheat;
    border-radius: 0.3rem;

    background-color: transparent;
    color: wheat;
}

.user-profile:hover {
    background-color: wheat;
    color: black;
}