/* DEPRICATED DROPDOWN STYLES */
vm-dropdown-depr{
    margin: auto;
}

#sec-drop-depr::ng-deep > div > button {
    /* width: 12rem;
    height: 4rem;
    font-size: 1.5em; */

    background-color: var(--bootstrap-primary-color);
    border-color:  var(--bootstrap-primary-color);
    border-radius: 0.25rem;

    color: white;
}

#sec-drop-depr::ng-deep > div > button:hover {
    background-color: #007bffaa;
    border-color: #007bffaa;
}

#High:hover {
    color:rgb(255, 0, 0);
}

.Medium:hover {
    color: rgb(168, 98, 57);
}

#Low:hover {
    color: rgb(0, 128, 0);
}