<div *ngIf="!hasVoted && !updating" class="card prompt text-center">
    <div class="card-header">
        Did you like our site?
    </div>
    <div class="card-body">
        <h5 class="card-title mb-5 mt-3">Vote by clicking on an icon!</h5>
        <div class="icon-wrapper">
            <img class="icon" 
            *ngFor="let icon of icons" 
            id="{{icon}}" 
            src="../assets/voter-assets/{{icon}}.png" 
            (click)="onClick($event)">
        </div>
    </div>
    <div class="card-footer">
        Feedback is always welcome!
    </div>
</div>

<div *ngIf="updating" class="card update">
    <vm-spinner spinnerWidth="8em"></vm-spinner>
</div>

<div *ngIf="hasVoted && !updating" class="card text-center">
    <div class="card-header">
        Results
    </div>
    <div class="card-body">
        <div class="row result-wrapper" *ngFor="let row of votesToPercentMap | keyvalue">
            <div class="col-1">
                <img class="icon"
                    id="{{row.key.icon}}" 
                    src="../assets/voter-assets/{{row.key.icon}}.png">
            </div>
            <div class="col-8">
                <div class="progress">
                    <span class="text-icon">{{row.key.icon}} {{row.value | number:'1.2-2'}}%</span>
                    <div class="progress-bar" id="{{row.key.icon}}" role="progressbar" style="width: {{row.value}}%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        Thank you for voting!
    </div>
</div>