:host {
    --card-height: 20em;
    --card-width: 100%;
}

.card {
    background-color: transparent;
    border: 1px solid wheat;
    color: white;
}

.card.prompt {
    width: var(--card-width);
    height: var(--card-height);
}

.card-header {
    border-bottom: 1px solid wheat;
    background-color: #7a6f59;
    opacity: 80%;
}

.card-header:hover {
    opacity: 100%;
}

.card-footer {
    border-top: 1px solid wheat;
    background-color: #7a6f59;
    opacity: 80%;
}

.card-footer:hover {
    opacity: 100%;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5em;
}

.icon {
    padding: 0 0.5em;
    width: 5em;
}

.icon:hover {
    width: 5.5em;
    cursor: pointer;
}


/* Update */
.card.update {
    width: var(--card-width);
    height: var(--card-height);
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid wheat;
}

/* Results */
.result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.result-wrapper > div > img {
    padding: 0.5rem;
    width: 3.5em;
}

.progress {
    text-align: center;
    position: relative;
    height: 1.5em;
}

.progress-bar#love {
    background-color: #42f578;
}
.progress-bar#happy {
    background-color: #bff542;
}
.progress-bar#neutral {
    background-color: #f5ef42;
}
.progress-bar#sad {
    background-color: #f5ad42;
}
.progress-bar#angry {
    background-color: #f56342;
}

.text-icon {
    position: absolute;
    right: 0;
    left: 0;
    text-transform: capitalize;
    color: #04031c;
    font-weight: 700;
}